In [13]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
import pyspark.sql.functions as F

# Now you can use these imported elements
# spark = SparkSession.builder.appName("MyPySparkApp").getOrCreate()
# schema = StructType([
#     StructField("name", StringType(), True),
#     StructField("age", IntegerType(), True)
# ])



simpleData = [(1,"Sagar", "CSE", "UP",80,), \
(2, "Shivam", "IT", "MP", 86,),
(3, "Muni", "Mech", "AP", 70,)\
]
columns= ["ID", "Student_Name", "Department_Name", "City", "Marks"]
df1 = spark.createDataFrame(data = simpleData, schema = columns)
df1.show()


simpleData_2 = [(5, "Raj", "CSE", "HP"), \
(7, "Kunal", "Mech", "Rajasthan") \
]
columns_2= ["ID", "Student_Name", "Department_Name","City"]
df2 = spark.createDataFrame(data = simpleData_2, schema = columns_2)

df2.show()

udf=df1.unionByName(df2,allowMissingColumns=True)
udf.show()

+---+------------+---------------+----+-----+
| ID|Student_Name|Department_Name|City|Marks|
+---+------------+---------------+----+-----+
|  1|       Sagar|            CSE|  UP|   80|
|  2|      Shivam|             IT|  MP|   86|
|  3|        Muni|           Mech|  AP|   70|
+---+------------+---------------+----+-----+

+---+------------+---------------+---------+
| ID|Student_Name|Department_Name|     City|
+---+------------+---------------+---------+
|  5|         Raj|            CSE|       HP|
|  7|       Kunal|           Mech|Rajasthan|
+---+------------+---------------+---------+

+---+------------+---------------+---------+-----+
| ID|Student_Name|Department_Name|     City|Marks|
+---+------------+---------------+---------+-----+
|  1|       Sagar|            CSE|       UP|   80|
|  2|      Shivam|             IT|       MP|   86|
|  3|        Muni|           Mech|       AP|   70|
|  5|         Raj|            CSE|       HP| NULL|
|  7|       Kunal|           Mech|Rajasthan| NULL|
+---+------------+---------------+---------+-----+